.donationAlertOuter{
	opacity: 0;
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.acmeFontLarge{
	font-family: 'Acme';
	font-size: 80px; 
	font-weight: bold; 
	text-align: center;
}
.acmeFontSmall{
	font-family: 'Acme';
	font-size: 28px; 
	font-weight: bold; 
	text-align: center;
}
#pngspin {
  animation: spin 3s linear infinite; 
  fill: #223344; 
  height: 150px; 
  width: 150px;
}
@-moz-keyframes spin {
  100% {
	-moz-transform: rotate3d(0,1,0, 360deg);
  }
}
@-webkit-keyframes spin {
  100% {
	-webkit-transform: rotate3d(0,1,0,360deg);
  }
}
@keyframes spin {
  100% {
	-webkit-transform: rotate3d(0,1,0,360deg); 
	transform:rotate3d(0,1,0,360deg);
  }
}
